.top-bar{
  background-color: #B9FFFC;
  height: 50px;
  width: 100%;
  position: fixed;
  text-align: left;
  padding: 0 30px;
}
.top-name{
  display: inline-block;
}
.top-img:hover{
  background-color: #EEEBDD;
  border-radius: 100%;
}
.top-git{
  position: absolute;
  right: 100px;
  top: 10px;
}
.top-lkin{
  position: absolute;
  right: 150px;
  top: 10px;
}
.top-mail{
  position: absolute;
  right: 200px;
  top: 10px;
}
.top_container{

  background-color: #B9FFFC;
  padding: 100px 2px 0px;
  background-image: linear-gradient(#B9FFFC,#E0FCFF);

}
.background-img{
  width: 50%;
}
.middle_container{


}
.bottom-container{
  background-color: #B9FFFC;
  height: 100px;
  background-image: linear-gradient(#E0FCFF,#B9FFFC);
  padding-top: 50px;
}
.bottom-cloud{
  position: absolute;
  bottom: 340px;

}
.top-cloud{
  position: absolute;
  right: 300px;
  top: 50px;

}
.mountain-img{

}
.skills{

}
.python-img{
  padding: 0px 20px 0 80px;
  width: 25%;
  float: right;
}
.website-img{
  padding: 0px 80px 0 20px;
  width: 25%;
  float: left;
}
.skill-row{
  width: 50%;
  margin:100px auto;
  text-align: left;
  line-height: 2;

}
.sk-title{
  display: inline-block;

}

.pro{
  text-decoration: underline;
}
.pic{
  text-align: right;
  margin: 0,20px,0,0;
}

#s2{
  text-align: right;
}
body{
  margin: 0px;
  background-color: #E0FCFF;
  text-align: center;
  font-family: 'Montserrat', sans-serif;
  font-size: 1rem;
}
h1{
  margin: 50px auto 0px auto;
  font-family: 'Sacramento', cursive;
  font-size: 5rem;
  color: #7579E7;

}
h2{
  font-family: 'Montserrat', sans-serif;
  font-size: 2rem;

  color:#7579E7;
}
h3{
  font-family: 'Montserrat', sans-serif;
  color: #7098DA;
}
hr{
  border-style: dotted none none;
  border-color: grey;
  border-width: 5px;
  width: 10%;
}
